.done {
    text-decoration: line-through;
    opacity: 0.5;
}

#todos {
    list-style:none;
    margin:none;
}

#todos li {
    padding:20px 20px 10px;
    border-bottom: 1px solid #979797;
}

ul {
    padding:0;
    margin:0;
}

.deleteItem {
    margin-left:10px;
    color:#e70f0f;
    cursor: pointer;
}

input[type=checkbox] {
    margin-right:10px;
}

.editText {
    display:none;
}

.saveItem {
    display: none;
}